<style>
.album {
	margin:0.5em;
	max-width:200px;
}
</style>
{% verbatim %}
<div style="text-align:center;width:100%;padding:1em">
	<template id="albums-template">
		<ul class="list-inline">
			<li v-for ="alb in albums" class="">
				<a v-bind:href="alb.url">
					<img v-bind:src="alb.image" v-bind:alt="alb.title" />
				</a>
			</li>
		</ul>
	</template>
	<template id="photo-template">
		<div v-bind:style="{ display: showPhotos }">
			<div id="slider">
			    <slider animation="normal" :speed="1000">
			      <slider-item v-for="photo in photos">
			      	 <img :src="photo.image" alt="" />
			      </slider-item>
			    </slider>
			</div>
		</div>
	</template>
</div>
{% endverbatim %}