{% load staticfiles %}
{% verbatim %}
<div style="width:100%;padding:0;margin:0;display:none" v-show="isActive('albums')">
	<div style="display:none" v-show="isActive('album')">
		<div style="background-color:lightgrey;">
			<div class="text-center" style="padding:1em">
				<ul class="list-inline">
					<li v-for ="alb in albums">
						<a class="element" v-bind:href="alb.url">
							<img v-bind:src="alb.image" v-bind:alt="alb.title" />
						</a>
						<div class="gi text-left xs-sm hidden-xs" style="width:210px; font-size:15px;vertical-align:middle">
							<a v-bind:href="alb.url">
								{{ alb.title }}
							</a>
						</div>
									
					</li>
				</ul>
			</div>
		</div>		
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div v-html="album.description"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center" style="display:none" v-show="isActive('photos')">
		<div class="hidden-xs"> 
			<button id="btn_prev" v-on:click="prev()">
				{% endverbatim %}
				<img id="prev" src="{% static 'vvphotos/img/prev.png' %}" style="max-height:100%;" alt=""/>
				{% verbatim %}
			</button>
		</div>
		<div id="slider">
			<img v-bind:src="imgSrc" style="max-width:100%;">
		</div>
		<div class="hidden-xs"> 
			<button id="btn_next" v-on:click="next()">
				{% endverbatim %}
				<img id="next" src="{% static 'vvphotos/img/next.png' %}" style="max-height:100%;" alt=""/>
			</button>
		</div>
	</div>
</div>

